[Unit]
Description=NV-Reloaded Application on %I
#After=bluetooth.target usb-gadget.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nv -d -dd -dc -di
ExecReload=kill -USR1 $MAINPID
ExecStop=kill -TERM $MAINPID

WorkingDirectory=/var/nv
TimeoutSec=5
KillMode=mixed
RestartKillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
